@page "/"

<PageTitle>Home</PageTitle>

<h1 style="margin-left: 20px">BI Assistentes</h1>
<br />
<h4 style ="margin-left: 20px">Bem vindo ao BI para acompanhar a evolução dos assistentes.</h4>
<br />
<br />
<p style="margin-left: 20px">O ficheiro deve ter o formato .CSV, e em Genesys deve ser exportado com as colunas e filtros da imagem abaixo</p>
<br />
<br />
<MudImage Style="margin-left: 20px" Src="images/layout-genesys.png" alt="Layout do relatório de chamadas em Genesys"></MudImage>

