@page "/"

<PageTitle>Home</PageTitle>

<h1>BI Assistentes</h1>
<br />
<h4>Bem vindo ao BI para acompanhar a evolução dos assistentes.</h4>
<br />
<br />
<p>O ficheiro deve ter o formato .CSV, e em Genesys deve ser exportado com as colunas e filtros da imagem abaixo</p>
<br />
<br />
<MudImage Src="images/layout-genesys.png" alt="Layout do relatório de chamadas em Genesys"></MudImage>

